<div class="container-fluid">
  <div class="battleground-container">
    <div class="row" *ngFor="let r of defaultBoardCells; index as y">
      <div class="col tile" *ngFor="let c of defaultBoardCells[y]; index as x">
        <ng-container *ngIf="getCell(x, y) as cell; else waterCell">
          <div [class]="getShipClass(cell.coordinateX, cell.coordinateY, cell.type)"></div>
          <div [ngClass]="cell.touched ? 'explosion' : null"></div>
          <div [ngClass]="!cell.touched && !cell.type ? 'shot-missed' : null"></div>
          <img class="gif" src="../assets/images/water_tile.gif">
        </ng-container>
        <ng-template #waterCell>
          <img class="gif" src="../assets/images/water_tile.gif">
        </ng-template>
      </div>
    </div>
  </div>
</div>
