<div class="container-fluid">
  <div class="battleground-container">
    <div class="row" *ngFor="let row of boardCells; index as rowIndex">
      <div class="col" *ngFor="let cell of boardCells[rowIndex]; index as colIndex">
        <!-- <div class="boardCell">{{rowIndex}}, {{colIndex}}</div> -->
        <div class="tile">
          <img *ngIf="rowIndex < 5" class="submarine" src="../assets/images/blue_submarine.gif">
          <img *ngIf="rowIndex >= 5" class="submarine" src="../assets/images/orange_submarine.gif">
          <img class="gif" src="../assets/images/water_tile.gif">
        </div>
      </div>
    </div>
  </div>
  <div class="ship-container">
    <img src="../assets/images/sub_horizontal.png">
    <img src="../assets/images/aircraft_carrier_horizontal.png">
    <img src="../assets/images/croiseur_horizontal.png">
    <img src="../assets/images/explosion.gif">
    <img src="../assets/images/miss_shot.gif">
  </div>
</div>
