.battleground-container{
  max-width: 520px;
  max-height: 520px;
}

.ui-kit-container{
  width: 560px;
  height: 560px;
  padding-left: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  background-image: url('../../assets/images/metal_board_background.png');
}

.tile{
  position: relative;
  box-sizing: border-box;
  margin: 1px;
  height: 50px;
  width: 50px;
}

.gif{
  height: 50px;
  width: 50px;
}

.submarine{
  position: absolute;
  top: 5px;
  right: 0px;
  height: 50px;
  width: 50px;
}

.explosion{
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 200;
  height: 35px;
  width: 35px;
  background-image: url('../../assets/images/explosion.gif');
}
.shot-missed{
  position: absolute;
  top: 8px;
  left: 5px;
  z-index: 200;
  height: 35px;
  width: 35px;
  background-image: url('../../assets/images/miss_shot.gif');
}

.tile {
  overflow: visible;
  .submarine_horizontal {
    position: absolute;
    left: 5px;
    z-index: 100;
    height: 50px;
    width: 150px;
    background-image: url('../../assets/images/submarine_horizontal.gif');
  }

  .submarine_vertical {
    position: absolute;
    left: 0px;
    z-index: 100;
    height: 150px;
    width: 50px;
    background-image: url('../../assets/images/submarine_vertical.gif');
  }

  .battleship_horizontal {
    position: absolute;
    left: 5px;
    z-index: 100;
    height: 50px;
    width: 200px;
    background-image: url('../../assets/images/croiseur_horizontal.gif');
  }

  .battleship_vertical {
    position: absolute;
    left: 0px;
    z-index: 100;
    height: 200px;
    width: 50px;
    background-image: url('../../assets/images/croiseur_vertical.gif');
  }

  .destroyer_horizontal {
    position: absolute;
    left: 5px;
    z-index: 100;
    height: 50px;
    width: 150px;
    background-image: url('../../assets/images/destroyer_horizontal.gif');
  }

  .destroyer_vertical {
    position: absolute;
    left: 0px;
    z-index: 100;
    height: 150px;
    width: 50px;
    background-image: url('../../assets/images/destroyer_vertical.gif');
  }

  .patrol_boat_horizontal {
    position: absolute;
    left: 5px;
    z-index: 100;
    height: 50px;
    width: 100px;
    background-image: url('../../assets/images/torpedo_horizontal.gif');
  }

  .patrol_boat_vertical {
    position: absolute;
    left: 0px;
    z-index: 100;
    height: 100px;
    width: 50px;
    background-image: url('../../assets/images/torpedo_vertical.gif');
  }

  .aircraft_carrier_horizontal {
    position: absolute;
    left: 0px;
    z-index: 100;
    height: 50px;
    width: 250px;
    background-image: url('../../assets/images/aircraft_carrier_horizontal.gif');
  }

  .aircraft_carrier_vertical {
    position: absolute;
    left: 0px;
    z-index: 100;
    height: 250px;
    width: 50px;
    background-image: url('../../assets/images/aircraft_carrier_vertical.gif');
  }
}
