.battleground-container{
  display: flex;
  flex-direction: row;
  max-width: 520px;
  max-height: 520px;
}

.tile{
  position: relative;
  box-sizing: border-box;
  margin: 1px;
  height: 50px;
  width: 50px;
}

.gif{
  height: 50px;
  width: 50px;
}

.submarine{
  position: absolute;
  top: 5px;
  right: 0px;
  height: 50px;
  width: 50px;
}
.tile {
  overflow-x: visible;
  .sub_horizontal {
    position: absolute;
    left: 5px;
    z-index: 100;
    height: 50px;
    width: 150px;
    background-image: url('../../assets/images/sub_horizontal.png');
  }
  .cruiser_horizontal {
    position: absolute;
    left: 5px;
    z-index: 100;
    height: 50px;
    width: 200px;
    background-image: url('../../assets/images/croiseur_horizontal.png');
  }
}
