<div class="game-container p-3">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input id="username"
             type="text" matInput
             placeholder="Player Name"
             formControlName="username"
             class="form-control"
             [ngClass]="{ 'is-invalid': submitted && registerForm.controls.username.errors }"/>
      <mat-error *ngIf="submitted && registerForm.controls.username.errors" class="invalid-feedback">
        <div *ngIf="registerForm.controls.username.errors.required">Player name is required</div>
      </mat-error>
    </mat-form-field>

    <div class="row mb-3">
      <button mat-raised-button class="ml-2 mr-1"
              [disabled]="registerForm.controls.username.errors">Create Game</button>
      <button mat-button type="reset" (click)="onReset()">
        Cancel
      </button>
    </div>

    <mat-card>
      <mat-card-title>Games</mat-card-title>
      <mat-card-content>
        <table mat-table [dataSource]="(gameList$ | async)" class="w-100">

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="players">
            <th mat-header-cell *matHeaderCellDef> Players </th>
            <td mat-cell *matCellDef="let element"> {{element.host.username}}{{element.guest ? ' vs ' + element.guest.username : ''}} </td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="gameDt">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.gameDt}} </td>
          </ng-container>

          <!-- Star Column -->
          <ng-container matColumnDef="star" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="appMenu"
                      [matMenuTriggerData]="{gameId: element.gameId}">
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </mat-card-content>
    </mat-card>
  </form>
</div>

<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-gameId="gameId">
    <button mat-menu-item
            (click)="onJoining(gameId)"
            [disabled]="registerForm.controls.username.errors">
      Join
    </button>
    <button mat-menu-item>Cancel</button>
  </ng-template>
</mat-menu>





