<nav class="links" mat-tab-nav-bar>
  <a mat-tab-link routerLink="/game-list">Games</a>
</nav>
<ng-container class="container" *ngIf="(startedGame$ | async) as startedGame">
  <h2 [innerHTML]="getStatusMessage(startedGame)"></h2>
  <div class="d-flex">
    <div class="ui-kit-container">
      <div class="own-board"></div>
      <app-board class="left-board" [boardData]="asHost ? startedGame.host : startedGame.guest"></app-board>
      <div class="metal-handle"></div>
      <div class="bullet-hole bullet-hole-1"></div>
      <div class="bullet-hole bullet-hole-2"></div>
      <div class="speaker">
        <img width="150" src="../assets/images/speaker.png" alt="Speaker"/>
      </div>
      <div class="green-light" [ngClass]="getLightClass(asHost, true, startedGame.status)"></div>
    </div>
    <div class="ui-kit-container">
      <div class="enemy-board"></div>
      <app-board class="right-board" [boardData]="asHost ? startedGame.guest : startedGame.host"
                 [isOwner]="false"
                 (shipFired)="onShipFired($event, startedGame.gameId, startedGame.status)"></app-board>
      <div class="radar">
        <img width="150" src="../assets/images/radar.png" alt="Radar"/>
      </div>
      <div class="red-light" [ngClass]="getLightClass(asHost, false, startedGame.status)"></div>
    </div>
  </div>

</ng-container>
