.left-board{
  position: absolute;
  top: 150px;
  left: 30px;
}

.right-board{
  position: absolute;
  top: 150px;
  right: 30px;
}

.ui-kit-container{
  position: relative;
  width: 750px;
  height: 750px;
  padding-left: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  background-image: url('../../assets/images/metal_board_background.png');
}

.metal-handle{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 280px;
  height: 135px;
  rotate: 90;
  background-image: url('../../assets/images/metal_handle.png');
}

.bullet-hole{
  width: 45px;
  height: 40px;
  background-image: url('../../assets/images/bullet_hole.png');

  &-1 {
    position: absolute;
    left: 365px;
    top: 50px;
  }

  &-2 {
    position: absolute;
    left: 140px;
    bottom: 30px;
  }
}

.speaker{
  position: absolute;
  right: 30px;
  bottom: 350px;
  width: 150px;
  height: 150px;
}

.radar{
  position: absolute;
  left: 30px;
  bottom: 350px;
  width: 150px;
  height: 150px;
}

.red-light{
  position: absolute;
  left: 60px;
  bottom: 200px;
  width: 75px;
  height: 75px;
  &-off {
    background-image: url('../../assets/images/red_led_off.png');
  }
  &-on {
    background-image: url('../../assets/images/red_led_on.png');
  }
}

.green-light{
  position: absolute;
  right: 60px;
  bottom: 200px;
  width: 89px;
  height: 89px;
  &-off {
    background-image: url('../../assets/images/green_led_off.png');
  }
  &-on {
    background-image: url('../../assets/images/green_led_on.png');
  }
}

.own-board{
  position: absolute;
  left: 30px;
  top: 40px;
  width: 420px;
  height: 80px;
  background-image: url('../../assets/images/your_board.png');
}

.enemy-board{
  position: absolute;
  left: 170px;
  top: 40px;
  width: 420px;
  height: 80px;
  background-image: url('../../assets/images/enemy_board.png');
}
